/*Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

/*Reset default styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Styling for index.html */
/*Body styles */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333
}

/* Heading styles */

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #333;
}

/* Logo Styles */
#logo {
    float: left;
    font-size: 260%;
    text-transform: uppercase;
    margin-left: 20px;
    line-height: 70px;
    color: #46646A;
}

/* Navigation links */

nav {
    font-size: 90%;
    letter-spacing: 3px;
    line-height: 70px;
    float: right;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    border-bottom: 1px solid #333;
}

.active {
    border-bottom: 1px solid #333;
}

/* Intro section and image styling */

.intro-section {
    animation: zoomIn 10s ease-in-out infinite;
    background-image: url('../images/sholder-massage.webp');
    position: relative;
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;

    /* Image animation on loading page */
    animation-name: zoom-in;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Keyframe to loading page */

@keyframes zoom-in {
    0% {
        background-size: 100%;
    }

    100% {
        background-size: 120%;
    }
}

/* Intro text and book appointment buttom styling  */

.intro-text {
    background-color: rgba(95, 125, 131, 0.713);
    color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    width: 400px;
    height: 200px;
    margin: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.intro-text h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
    letter-spacing: 2px;
}

.intro-text p {
    text-transform: capitalize;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
}

.btn {
    display: inline-block;
    background-color: #7a4751;
    color: #fff;
    padding: 20px 40px;
    height: auto;
    border-radius: 10px;
    text-decoration: none;
    font-size: 15px;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
}

.btn:hover {
    background-color: #c0392b;
}

/* Business Introduction styling index.html */
.therapy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(95, 125, 131, 0.047);
    padding: 60px 0;
}

.therapy-image {
    width: 100%;
    padding-right: 20px;
}

.therapy-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.therapy-text {
    width: 100%;
    padding-left: 20px;
}

.therapy-text h2 {
    font-size: 40px;
    font-weight: bold;
    color: #46646A;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.therapy-text h2 span {
    color: #7a4751;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.therapy-text p {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 15px;
    text-align: justify;
    padding-right: 25px;
}

/* Testmonial section index.html */
.testimonials {
    display: flex;
    justify-content: space-between;
    background-color: rgba(95, 125, 131, 0.127);
    padding: 20px;
}

.testimonial {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.testimonial p {
    font-size: 16px;
    line-height: 1.5;
    color: black;
    margin: 0;
    padding-bottom: 10px;
}

.testimonial-text {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.testimonial-author {
    font-style: italic;
    text-align: justify;
}

.testimonials-heading {
    text-transform: uppercase;
    text-align: center;
    color: #7a4751;
    font-size: 40px;
    margin-top: 0px;
    letter-spacing: 3px;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(95, 125, 131, 0.127);
    padding-top: 20px;
}

/* Services offered section within index.html */
.services-main {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
}

.services-area {
    background-color: #E4F0F1;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    float: left;
    width: 20%;
    height: 400px;
    display: flex;
    font-stretch: normal;
    text-align: center;
}

.services-area:nth-child(1) {
    background-color: #17353A;
}

.services-area:nth-child(2) {
    background-color: #2F4C51;
}

.services-area:nth-child(3) {
    background-color: #46646A;
}

.services-area:nth-child(4) {
    background-color: #5F7D83;
}

.services-area:nth-child(5) {
    background-color: #95B0B5;
}

.services-wrapper-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.services-wrapper-text h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.services-wrapper-text p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #fff;
}

.services-buttom {
    margin-top: 20px;
    margin-top: 50px;
}

.learn-more-buttom {
    display: inline-block;
    background-color: #7a4751;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.learn-more-buttom:hover {
    background-color: #c0392b;
}


/* Footer and social links styling */
footer {
    background-color: rgba(95, 125, 131, 0.205);
    padding: 30px 0;
    font-size: 16px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0 15px;
    box-sizing: border-box;
}

/* All rights reserved and footer nav bar */
footer .row {
    display: flex;
    justify-content: space-between;
}

footer .col-md-6 {
    align-self: flex-start;
    align-items: center;
    display: flex;
    margin-top: 25px;
    font-size: 12px;
}

footer .footer-nav-menu {
    align-self: flex-end;
    font-size: 10px;
    text-transform: capitalize;
}

/* Connect with me - footer*/
.connnect-with-me {
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 40px;
}

.connect-with-me h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

/* Social Icons - footer */
.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.social-icons a i {
    font-size: 1.5rem;
}

.social-icons li {
    margin-right: 20px;
    display: inline-block;
    margin-bottom: 10px;
}

.social-icons li:last-child {
    display: flex;
    align-items: center;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #6c757d;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #ffffff;
    background-color: #6c757d;
}

.social-connect {
    margin-bottom: 20px;
}

iframe {
    border-radius: 10px;
}

/* Opening times */
.opening-times h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.opening-times ul {
    list-style: none;
    padding: 0;
}

.opening-times ul li {
    line-height: 0.8;
}

.opening-times li {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Address */
.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.address h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.address p {
    font-size: 16px;
    line-height: 1.5;
}

/* Styling for contact.html */

/* background image and form */
.contact-form {
    clear: left;
    background: url('../images/back_relaxing.webp') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 800px;
}

.contact-section {
    position: relative;
    top: 15%;
    max-width: 600px;
    text-align: center;
    color: white;
    background-color: rgba(95, 125, 131, 0.713);
    padding: 40px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.contact-section h2 {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: bold;
    display: block;
    font-family: Oswald, sans-serif;
}

.contact-section form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-section label {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.contact-section input[type="text"],
.contact-section input[type="tel"],
.contact-section input[type="email"],
.contact-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    text-transform: uppercase;
}

.contact-section input[type="submit"] {
    background-color: #7a4751;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.contact-section input[type="submit"]:hover {
    background-color: #c0392b;
}

.required-label::before {
    content: "*";
    color: red;
    display: inline-block;
    margin-right: 5px;
}

/* Styling for prices.html */

/* Price List heading */

.tittle-page {
    background: rgba(95, 125, 131, 0.713);
    padding: 10px 0;
    position: relative;
    top: 70px;
    height: 70px;
}

.current-price-list {
    position: flex;
}

.current-price-list h1 {
    color: white;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 48px;
    font-weight: bold;
    font-family: Oswald, sans-serif;
}

/* Pricing table styling */
table {
    border-collapse: collapse;
    position: relative;
    right: 20px;
    width: 100%;
    display: contents;
    padding: 50px;
}

th {
    background-color: rgba(95, 125, 131, 0.713);
    color: #fff;
    font-weight: bold;
    padding: 12px;
    text-align: left;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    max-width: fit-content;
    word-break: break-word;
}

.price-list th:nth-child(2),
.price-list th:nth-child(3) {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: rgba(95, 125, 131, 0.475);
    color: #000;
}

.price-list tbody td:nth-child(2),
.price-list tbody td:nth-child(3) {
    text-align: center;
}

.prices-table {
    padding: 10px;
    text-transform: uppercase;
    border: 2px solid rgba(95, 125, 131, 0.713);
    margin: 120px auto 30px auto;
    max-width: fit-content;
    min-width: fit-content;
}

.price-list thead th {
    font-weight: 30px;
}

/* Discount Section Styling */
.special-discounts {
    background-color: #fff;
    padding: 50px;
    text-align: center;
}

.special-discounts h2 {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: Oswald, sans-serif;
    color: #46646A;
    letter-spacing: 2px;
}

.discount-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
}

.discount-card {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.462);
}

.discount-card i {
    font-size: 30px;
    color: rgba(95, 125, 131, 0.713);
    margin-bottom: 20px;
}

.discount-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    color: #46646A;
    letter-spacing: 2px;
}

.discount-card p {
    font-size: 16px;
    line-height: 1.5;
}

/* About.html styling */

.about-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 50px 0;
}

.about-photo {
    flex: auto;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-photo img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid rgba(95, 125, 131, 0.713);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-right: 30px;
    padding: 5px;
}

.about-text {
    max-width: 90%;
    flex: auto;
    padding: 40px;
    text-align: justify;
}

.about-text h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: #46646A;
    letter-spacing: 2px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: justify;
    max-width: 900px;
}

.about-text ul {
    list-style: none;
    padding-left: 0;
}

.about-text li {
    font-size: 16px;
    margin-bottom: 10px;
}

/* treatments.html styling */

/* Style for the main section */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    padding-top: 100px;
}

/* Rotating cards styling and positioning in the page */

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-bottom: 50px;
}

.card {
    width: 250px;
    height: 350px;
    margin: 20px;
    perspective: 1000px;
    border: 0px solid rgba(95, 125, 131, 0.433);
    border-radius: 11px;
}

.card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    color: #fff;
    padding-top: 20px;
    border-radius: 10px;
    background-color: #46646A;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 15px;
    z-index: 10;
    width: 190px;
    height: 60px;
    box-sizing: border-box;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #46646A;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    background-color: rgba(95, 125, 131, 0.228);
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    letter-spacing: 1px;
    line-height: 1.5;
}

.card-title {
    font-weight: bold;
    color: black;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.6;
}

.card-back p {
    padding: 0;
    margin: 0;
    text-align: left;
    margin-bottom: 5px;
    color: #000;
    text-align: left;
    font-size: 13px;
}

/* Style for the headings inside each individual div */
main div h2 {
    color: #3a3a3a;
    font-size: 28px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    color: #46646A;
    letter-spacing: 2px;
}

main div h3 {
    color: #3a3a3a;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
}

/* Style for the text inside each individual div */
main div p {
    color: #555;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

/* Media queries rules*/
/* Rules for mobile screen size large at or bellow 800px width */

/* Media rules for header */

@media (max-width: 1125px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #logo {
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 35px;
    }

    #nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #nav li {
        margin: 0 8px;
        margin-top: -20px;
        text-align: center;
    }
}

/* Media rules for Intro section and image */
@media (max-width: 900px) {
    .intro-section {
        height: 400px;

    }
}

/* Media rules for services section index.html */
@media (max-width: 900px) {
    .services-area {
        width: 100%;
        display: block;
        height: 300px;
    }
}

/* Media rules for testimonials section */
@media screen and (max-width: 800px) {
    .testimonials {
        display: block;
    }

    .testimonial {
        height: 300px;
        box-sizing: border-box;
    }
}

/* Media rules for about me section within index.html */
@media screen and (max-width: 800px) {
    .therapy {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .therapy-image {
        order: 1;
        padding-right: 0;
    }

    .therapy-text {
        order: 2;
        margin-top: 30px;
    }
}

/* Media rules for about me section within about.html */
@media screen and (max-width: 800px) {
    .about-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .about-photo {
        order: 1;
        padding-left: 20px;
    }

    .about-text {
        order: 2;
        text-align: center;
    }
}
/* Media rules for about me section within about.html (max-width: 1125px) and (min-width: 800px) */
@media screen and (max-width: 1125px) and (min-width: 800px) {
    .about-photo {
        padding-left: 10px;
    }

    .about-text {
        padding-top: 0;
    }
}


/* Media rules for the header within about.html, treatments.html and prices.html */
@media screen and (max-width: 900px) {
    .tittle-page {
        top: 5px;
        position: relative;
    }
}

@media screen and (max-width: 1125px) and (min-width: 900px) {
    .tittle-page {
        top: 5px;
    }
}

/* Media rules for the footer */
@media screen and (max-width: 800px) {
    .social-icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        size: 15px;
    }

    .col-md-4 h3 {
        font-size: 15px;
    }

    .address p {
        font-size: 13px;
    }

    .opening-times li {
        font-size: 13px;
    }

    .col-md-6 {
        order: 1;
        font-size: small;
        padding-left: 10px;
    }

    .footer-nav-menu {
        margin-left: 10px;
        margin-bottom: -30px;
        font-size: 10px;
        text-align: center;
    }
}

/* Media rules for prices.html */
/* Media rules for prices table within prices.html*/
@media screen and (max-width: 900px) {
    .prices-table {
        margin: 60px 20px auto;
    }

/* Rules for mobile screen size large at or bellow 425px width */

/* Media rules for header */

@media (max-width: 425px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #logo {
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 35px;
    }

    #nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #nav li {
        margin: 0 8px;
        margin-top: -20px;
        font-size: 10px;
        text-align: center;
    }
}

/* Media rules for Intro section and image */
@media (max-width: 425px) {
    .intro-section {
        height: 280px;
    }

    .intro-text {
        width: 50%;
    }

    .intro-text h2 {
        font-size: 20px;
    }

    .intro-text p {
        font-size: 14px;
    }

    .intro-text .btn {
        font-size: 12px;
        padding: 10px;
        margin-top: 20px;
    }
}

/* Media rules for testimonials section */
@media screen and (max-width: 425px) {
    .testimonials {
        display: block;
    }

    .testimonial {
        height: 330px;
        box-sizing: border-box;
    }
}

/* Media rules for footer */
@media screen and (max-width: 425px) {
    .connect-with-me {
        text-align: center;
    }

    .social-icons li {
        margin-bottom: 10px;
    }

    .col-md-6 {
        order: 1;
        font-size: small;
    }
}