/*Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

/*Reset default styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/*Body styles */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333
}

/* Heading styles */

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #333;
}

/* Logo Styles */
#logo {
    float: left;
    font-size: 260%;
    text-transform: uppercase;
    margin-left: 20px;
    line-height: 70px;
}

/* Navigation links */

nav {
    font-size: 110%;
    letter-spacing: 3px;
    line-height: 70px;
    float: right;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  nav a:hover {
    border-bottom: 2px solid #333;
  }

  .active {
    border-bottom: 2px solid #333;
  }

  /* Intro section and image styling */

  .intro-section {
    background-image: url('../images/relaxing.webp');
    position: relative;
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .intro-text {
    background-color: rgba(255, 200, 0, 0.633);
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  
  .intro-text h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
  
  .intro-text p {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  .btn {
    display: inline-block;
    background-color: #f86734;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    margin-top: 10px;
  }
  
  .btn:hover {
    background-color: #f38466;
  }
  